*{margin:0;}

#tm{
  font-size: 50px;
}
#date{
  font-size: 20px;
}
#box{
  position: absolute;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  left: 300px;
  border: 2px solid black;
  border-radius: 20px;
}
#fps{
  position: absolute;
  display: inline-block;
  border: 2px solid black;
  border-radius: 4px;
  margin: 10px;
  padding: 2px;
}
